.sg-button{
background-color:lavender;
}
.content{
background-color:lavender;
}
.header{
background-color:lavender;
}
.mint-header__container{
background-color:lavender;
}
.brn-moderation-panel__content{
background-color:lavender;
}
.sg-menu-list__link{
    color:black;

}
.sg-button__text{
    color:black
}
.brn-subject-list__subject--active{
    color:black
}
